html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
   
    /* width: 100%; */
}
header {
    width: 100%;
    height: 200px;
    background-color: rgb(47, 24, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
header section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 120px;

}
header p {
    padding-left: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 48px;
    color: white;
}
header img {
    /* padding-left: 32px; */
    height: 128px;
    width: 128px;
}

h1 {
    font-size: 48px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    margin: 0;
    padding: 32px 0;
}
h2 {
    font-size: 36px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    margin: 0;
    padding: 32px 0;
}

h3 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    color: white;
    margin: 0;
    padding: 32px 0;
}
main {
    width: 100%;
    height: 80vh;   
    background-color: rgb(78, 56, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    box-sizing: border-box;
}

main p {
    font-size: 16px;
}
/* main section {
    width: 100%;
    max-width: 1440px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 120px;

} */

main img {
    height: 128px;
    width: 128px;
    border-radius: 8px;

}
.images {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 8px;
    flex-wrap: wrap;
    /* padding: 0 120px; */
    /* box-sizing: border-box; */

}
.imageGallery {
   
    width: 100%;
    max-width: 1440px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 120px;
    box-sizing: border-box;
    
    

}

.images img:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(65, 45, 45); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer section {
    width: 100%;
    max-width: 1440px;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}


                                            /* DIALOG  */

dialog section {
    background-color: rgb(111, 71, 49);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* flex-direction: column; */

}
dialog header {
    background-color: rgb(111, 71, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 0;
    

}
dialog nav {
    padding: 16px 16px;
    background-color: rgb(111, 71, 49);
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

dialog img {
    height: 75%;
    width: 50%;
    border-radius: 8px;
    padding: 16px 16px;
    

}
.dialogImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

}

/* Standardzustand des Dialogs */
dialog {
    /* border: 5px solid rgb(237, 137, 66);             roter Rahmen um den Dialog */
    /* transition: all 2s ease-in;        animierte Übergänge über 2 Sekunden */
    width: 50vw;
    height: 75vh;
    background-color: rgb(111, 71, 49);
    box-sizing: border-box;
}

/* Zustand, wenn der Dialog geöffnet ist */
dialog.opened {
    border: 5px solid rgba(13, 87, 31, 0.278);             /* gleicher roter Rahmen */
    border-radius: 5%;
    transform: translateX(0);          /* verschiebt Dialog zurück in die Mitte */
    /* transition: all 1s ease-in;        sanfte Animation */
}

/* Der Hintergrund (Backdrop), wenn Dialog angezeigt wird */
dialog::backdrop {
    opacity: 0;                        /* unsichtbar im Ausgangszustand */
   background-color: rgba(0, 0, 0, 0.5); /* Eine semi-transparente dunklere Hintergrundfarbe, um den Blur-Effekt zu verstärken */
    transition: all 1s ease-in;        /* weicher Übergang */
}

/* Sichtbarer Hintergrund, wenn der Dialog geöffnet ist */
dialog.opened::backdrop {
    opacity: 1;                        /* wird sichtbar */
    /* Eine semi-transparente dunklere Hintergrundfarbe, um den Blur-Effekt zu verstärken */
    /* background-color: rgba(0, 0, 0, 0.3);  */
    transition: all 1s ease-in;        /* Übergangsdauer: X Sekunden */
}

button {
    height: 32px ;
    width: auto;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 8px;
    background-color: brown;
    
    
}

button:hover {
    
    transform: scale(1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* button:hover {
    
    transform: scale(1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} */


/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}