html {
    margin: 0;
    scroll-behavior: smooth;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    font-size: 16px;
    height: 100vh;
    overflow-y: auto;
    
}



h1 {
    font-size: 42px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    margin: 0;
    padding: 32px 0;
    box-sizing: border-box;
}

h2 {
    font-size: 36px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    margin: 0;
    padding: 32px 0;
}

h3 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    color: white;
    margin: 0;
    padding: 32px 0;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    height: 15vh;
    background-color: rgb(47, 24, 30);
    
}


header section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 120px;
}


header p {
    padding-left: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 48px;
    color: white;
}


header img {
    height: 10vh;
    max-height: 128px;
    width: auto;
    padding: 20px 0px;
    object-fit: contain;
}



main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;  
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    min-height: 0;
    overflow-y: auto;  
    background-color: rgb(78, 56, 62);
    
}


.mainImg {
    height: 128px;
    width: 128px;
    border-radius: 8px;
    
}


.images {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
}


.imageGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    padding: 40px 120px;
    box-sizing: border-box;
    
}


.images img:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    flex: 0 0 auto;
    background-color: rgb(65, 45, 45); 
}


footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 120px; 
    box-sizing: border-box;
}



                                            /* DIALOG  */
dialog {
    width: 50vw;
    height: 75vh;
    background-color: rgb(111, 71, 49);
    box-sizing: border-box;
    border-radius: 5%;
 
}


dialog.opened {
    border: 5px solid rgba(13, 87, 31, 0.278);             
    border-radius: 5%;
    transform: translateX(0);         
}


dialog::backdrop {
    opacity: 0;                       
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 1s ease-in;       
}


dialog.opened::backdrop {
    opacity: 1;                       
    transition: all 1s ease-in;        
}


.heroDialog {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


.dialogHeader {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(111, 71, 49);
    margin: 0;
    padding: 16px 16px;
    height: 15%; 
    flex-shrink: 0;
}


.dialogImages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%; 
    flex-shrink: 0;
    background-color: rgb(111, 71, 49);
    padding: 16px 16px;
    box-sizing: border-box;
}

.dialogImg {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

dialog h2 {
    font-size: 36px;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 32px 0;
}




/* button style */
.buttonBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%; 
    flex-shrink: 0;
    padding: 16px 16px;
    background-color: rgb(111, 71, 49);
    font-size: 32px;
}


button {
    height: 64px ;
    width: 64px;
    font-size: 32px;
    border-radius: 50%;
    background-color: brown;
    border: 2px solid black; 
}


.closeButton {
    height: 42px ;
    width: 42px;
    font-size: 18px;
    border-radius: 50%;
    background-color: brown;
    border: 2px solid black; 
}


button:hover {  
    transform: scale(1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* media 768 bis 1280 */
@media (min-width: 768px) and (max-width: 1280px) {

h1 {
    font-size: 36px;
    padding: 24px 0;
}


h2 {
    font-size: 32px;
    padding: 32px 0;
    text-align: center;
}


dialog h2 {
    font-size: 32px;
    padding: 32px 0;
    color: black;
}


h3 {
    font-size: 28px;
    padding: 32px 0;
}


header section {
    width: 100%;
    padding: 0 60px;
}


header p {
    padding-left: 24px;
    font-size: 32px;
}


header img {
    max-height: 96px;
    /* width: 96px; */
}



main {
    width: 100%;
    height: 70vh;   
}


.mainImg {
    height: 128px;
    width: 128px;
    border-radius: 8px;
}


.images {  
    width: 100%;
    height: auto;
    gap: 8px;
    flex-wrap: wrap;
}


.imageGallery {
    /* width: 100%;   */
    padding: 20px 60px;
}


.images img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



footer section {
    width: 100%;
    padding: 0 60px;
}



/* DIALOG  style*/
dialog header {
    margin: 0;
    height: 15%;
}


dialog section {
    height: 70%;
    width: 100%;
}


dialog nav {
    padding: 16px 16px;
    height: 15%;
    font-size: 32px;
}


dialog img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 8px;
}


dialog {
    width: 50vw;
}


dialog.opened {
    border: 5px solid rgba(13, 87, 31, 0.278);             
    border-radius: 30px;    
}


/* button style */

.buttonBar {
    font-size: 28px;
}

button {
    height: 48px ;
    width: 48px;
    font-size: 28px;
}


.closeButton {
    height: 36px ;
    width: 36px;
    font-size: 16px;
}


button:hover {  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
}



@media (min-width: 300px) and (max-width: 768px) {
h1 {
    font-size: 28px;
    padding: 12px 0;
}

h2 {
    font-size: 20px;
    padding: 16px 0;
    text-align: center;
}

dialog h2 {
    font-size: 20px;
    padding: 16px 0;
}

h3 {
    font-size: 18px;
    padding: 16px 0;
}


header section {
    width: 100%;
    padding: 0 20px;
}


header p {
    padding-left: 18px;
    font-size: 24px;
}


header img {
    max-height: 64px;
    /* width: 64px; */
}



main {
    width: 100%;
    height: 70vh;   
}


.mainImg {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}


.images {  
    width: 100%;
    height: auto;
    gap: 4px;
    flex-wrap: wrap;
}


.imageGallery {
    width: 100%;  
    padding: 10px 20px;
}


.images img:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


footer section {
    width: 100%;
    padding: 0 20px;
}


/* Dialog Style */
dialog header {
    margin: 0;
    height: 15%;
}


dialog section {
    height: 70%;
    width: 100%;
}


dialog nav {
    padding: 16px 16px;
    height: 15%;
    font-size: 16px;
}


dialog img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 8px;
}


dialog {
    width: 90vw;
    max-height: 70vh;
}


dialog.opened {
    border: 5px solid rgba(13, 87, 31, 0.278);             
    border-radius: 30px;    
}


/* Button Style */

.buttonBar {
    font-size: 18px;
}


button {
    height: 32px ;
    width: 32px;
    font-size: 16px;
}


.closeButton {
    height: 32px ;
    width: 32px;
    font-size: 16px;
}
}

/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}