html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
   
    /* width: 100%; */
}
header {
    width: 100%;
    height: 200px;
    background-color: rgb(47, 24, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
header section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 120px;

}
header p {
    padding-left: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 48px;
    color: white;
}
header img {
    /* padding-left: 32px; */
    height: 128px;
    width: 128px;
}

h1 {
    font-size: 48px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
}
h2 {
    font-size: 36px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
}

h3 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    color: white;
}
main {
    width: 100%;
    height: 80vh;   
    background-color: rgb(78, 56, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    box-sizing: border-box;
}

main p {
    font-size: 16px;
}
main section {
    width: 100%;
    max-width: 1440px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 120px;

}
footer {
    width: 100%;
    height: 200px;
    background-color: rgb(65, 45, 45); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer section {
    width: 100%;
    max-width: 1440px;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}